.h{
    color:black;
    font-weight: 500;
}
.row{
    border: 0.2px;
    border-color:darkgray;
    border-style: solid;
    height: 60px;;
}
.selected{
    background-color:#ACD6FF;
    color: white;
}